@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.remark-code, .remark-inline-code {
  font-family: 'Monaco', monospace;
}

h1 {
  font-family: 'Hepta Slab', serif;
}

h2, h3, body {
  font-family: 'Raleway', sans-serif;
}

h2, h3 {
  color: #2A326D;
}